/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}
p {
    font-size: 3em;
    margin: 0 auto;
    width: 80%;
    color: #ffffff; /* grey color */
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    border: 2px solid #292828;
    padding: 20px;
    background-color: #fb90ff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(43, 43, 43, 0.5);
    text-transform: uppercase;
    letter-spacing: 2px;
  }
nav {
    background-color: #333;
}

/* Base styles for larger screens */
.navbar {
    list-style: none;
    display: flex;
    justify-content: space-evenly;

}

.navbar li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 20px;
    display: block;
    width: 100%;
    text-align: center;
    transition: background-color 0.3s, transform 0.3s;
}

.navbar a:hover {
    background-color: #575757;
    transform: scale(1.05);
}

/* Optional: Add borders to separate items */
.navbar li:nth-child(1) a {
    border-right: 1px solid #ddd;
}

.navbar li:nth-child(2) a {
    border-right: 1px solid #ddd;
}

.navbar li:nth-child(3) a {
    border-right: 1px solid #ddd;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .navbar li {
        width: 100%;
        border-bottom: 1px solid #ddd;
    }

    .navbar a {
        font-size: 16px;
        padding: 12px;
    }
}
/* Responsive styles for screens smaller than 480px */
@media (max-width: 480px) {
    .navbar {
        flex-direction: column;
        align-items: stretch; /* Ensure items take full width */
    }

    .navbar li {
        width: 100%;
        border-bottom: none; /* Remove borders between items */
    }

    .navbar a {
        font-size: 16px;
        padding: 12px;
        text-align: center;
        border: none; /* Remove borders on navigation items */
    }

    .navbar a:hover {
        background-color: #575757;
        transform: scale(1.05);
    }
}


/* Impressum Styling */
.impressum {
    max-width: 900px;
    margin: 30px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 5px 19px rgba(0, 0, 0, 0.1);
}

.impressum header h1 {
    text-align: center;
    font-size: 2.5rem;
    color: #99009e;
    margin-bottom: 30px;
}

.impressum h2 {
    font-size: 1.8rem;
    margin-bottom: 15px;
    color: #555;
}

.impressum ul {
    list-style-type: none;
    padding-left: 0;
}

.impressum ul li {
    margin-bottom: 8px;
}

.impressum p {
    font-size: 1rem;
    color: #666;
}

.impressum footer {
    text-align: center;
    margin-top: 30px;
    font-size: 1rem;
    color: #999;
}
